<?xml version="1.0" encoding= "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- Spring Bean Configuration 파일 - 조립기 -->
    <!-- Spring Bean Configuration 파일 - 조립기 -->
    <!-- 생성 / 초기화 -->

    <!-- HelloBean1 helloBean1 = new HelloBean1(); -->
    <!--<bean name="helloBean1" class="org.example.di.model1.HelloBean1" />
    <bean name="helloBean2" class="org.example.di.model1.HelloBean2" />-->

    <bean name="hello1" class="org.example.di.model2.HelloBean1" />
    <bean id="hello2" class="org.example.di.model2.HelloBean2" />

</beans>