<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="./css/board_write.css">
</head>
<body>

<script type='text/javascript'>
    const flag = [[${flag}]];
    const pseq = [[${pseq}]];

    if( flag == 0 ) {
        alert( '코멘트 쓰기 성공' );
        location.href='./view.do?seq=' + pseq;
    } else if( flag == 1 ) {
        alert( '코멘트 쓰기 실패' );
        history.back();
    }
</script>

</body>
</html>