<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="hello1" class="org.example.di.model1.HelloBean" scope="prototype" /> -->
    <bean id="hello2" class="org.example.di.model1.HelloBean" scope="prototype">
        <!--
        <constructor-arg>
            <value>홍길동</value>
        </constructor-arg>
        -->
        <constructor-arg value="장길산" />
    </bean>

    <!--
    <bean id="hello3" class="org.example.di.model1.HelloBean" scope="prototype">
        <constructor-arg>
            <value>홍길동</value>
        </constructor-arg>
        <constructor-arg>
            <value>장길산</value>
        </constructor-arg>
    </bean>
    -->

    <bean id="hello4" class="org.example.di.model1.HelloBean" scope="prototype">
        <constructor-arg>
            <value>홍길동</value>
        </constructor-arg>
        <constructor-arg>
            <value>10</value>
        </constructor-arg>
    </bean>

</beans>