<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="./css/board.css">
</head>

<body>
<!-- 상단 디자인 -->
<div class="con_title">
	<h3>게시판</h3>
	<p>HOME &gt; 게시판 &gt; <strong>게시판</strong></p>
</div>
<div class="con_txt">
	<div class="contents_sub">
		<div class="board_top">
			<div class="bold">총 <span class="txt_orange" th:text="${ #lists.size(lists) }">1</span>건</div>
		</div>

		<!--게시판-->
		<div class="board">
			<table>
			<tr>
				<th width="3%">&nbsp;</th>
				<th width="5%">번호</th>
				<th>제목</th>
				<th width="10%">글쓴이</th>
				<th width="17%">등록일</th>
				<th width="5%">조회</th>
				<th width="3%">&nbsp;</th>
			</tr>

			<!-- 리스트 출력 시작 -->
			<tr th:each=" to : ${ lists }">
				<td>&nbsp;</td>
				<td th:text="${ to.seq }"></td>
				<td class="left">
					<a th:href="@{./view.do(seq=${to.seq})}" th:text="${ to.subject }"></a>
					&nbsp;
					<span th:if="${ to.wgap != 0}"></span>
					<span th:unless="${ to.wgap != 0}"><img src="./images/icon_new.gif" alt="NEW"></span>
				</td>
				<td th:text="${ to.writer }"></td>
				<td th:text="${ to.wdate }"></td>
				<td th:text="${ to.hit }"></td>
				<td>&nbsp;</td>
			</tr>
			<!-- 리스트 출력 끝 -->

			</table>
		</div>	

		<div class="btn_area">
			<div class="align_right">
				<input type="button" value="쓰기" class="btn_write btn_txt01" style="cursor: pointer;" onclick="location.href='write.do'" />
			</div>
		</div>
		<!--//게시판-->
	</div>
</div>
<!--//하단 디자인 -->

</body>
</html>
